
01_Study/02_HyperParameter/01_MSE.ipynb
99_StudyFiles/01_PDF/06. 딥러닝 학습방법 파트-1.pdf
99_StudyFiles/02_Data/cifar-10-batches-py/batches.meta
99_StudyFiles/02_Data/cifar-10-batches-py/data_batch_1
99_StudyFiles/02_Data/cifar-10-batches-py/data_batch_2
99_StudyFiles/02_Data/cifar-10-batches-py/data_batch_3
99_StudyFiles/02_Data/cifar-10-batches-py/data_batch_4
99_StudyFiles/02_Data/cifar-10-batches-py/data_batch_5
99_StudyFiles/02_Data/cifar-10-batches-py/readme.html
99_StudyFiles/02_Data/cifar-10-batches-py/test_batch
99_StudyFiles/02_Data/cifar-10-python.tar.gz
99_StudyFiles/02_Data/FashionMNIST/raw/t10k-images-idx3-ubyte
99_StudyFiles/02_Data/FashionMNIST/raw/t10k-images-idx3-ubyte.gz
99_StudyFiles/02_Data/FashionMNIST/raw/t10k-labels-idx1-ubyte
99_StudyFiles/02_Data/FashionMNIST/raw/t10k-labels-idx1-ubyte.gz
99_StudyFiles/02_Data/FashionMNIST/raw/train-images-idx3-ubyte
99_StudyFiles/02_Data/FashionMNIST/raw/train-images-idx3-ubyte.gz
99_StudyFiles/02_Data/FashionMNIST/raw/train-labels-idx1-ubyte
99_StudyFiles/02_Data/FashionMNIST/raw/train-labels-idx1-ubyte.gz
99_StudyFiles/02_Data/MNIST/raw/t10k-images-idx3-ubyte
99_StudyFiles/02_Data/MNIST/raw/t10k-images-idx3-ubyte.gz
99_StudyFiles/02_Data/MNIST/raw/t10k-labels-idx1-ubyte
99_StudyFiles/02_Data/MNIST/raw/t10k-labels-idx1-ubyte.gz
99_StudyFiles/02_Data/MNIST/raw/train-images-idx3-ubyte
99_StudyFiles/02_Data/MNIST/raw/train-images-idx3-ubyte.gz
99_StudyFiles/02_Data/MNIST/raw/train-labels-idx1-ubyte
99_StudyFiles/02_Data/MNIST/raw/train-labels-idx1-ubyte.gz
01_Study/.DS_Store
.DS_Store
01_Study/03_VGG_Finetuning/vgg11-bbd30ac9.pth
